#robot-controls,
.robot-controls {
  background: rgba(0, 0, 0, 0.25);
  -webkit-user-select: none; // disable selection/Copy of UIWebView
  -webkit-touch-callout: none; // disable the IOS popup when long-press on a link
}

.robot-vision {
  flex-grow: 1;
}
