/*
 CATPOO styling
 */

// $gutter: 8px;
$grid-gutter-width: 8px;

@import "3rd-party";

@import "catpoo/video-screen";
@import "catpoo/robot-controls";

html {
  height: 100vh;
  width: 100vw;
  background-color: $black;
}

body {
  width: 100%;
  height: 100%;
  background-color: $black;
  color: $gray-100;
}

.bg-semi-dark {
  background: rgba(0, 0, 0, 0.75);
}

$gutter: 8px;
$grid-gutter-width: 8px;
