<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}CATPOO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block styles %}
      <link rel="stylesheet" href="{{ asset('css/catpoo.css') }}">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <!-- body -->
    {% endblock body %}

    {% block scripts %}
      <script src="{{ asset('js/require.js') }}"></script>
      <script>
        requirejs.config({

          baseUrl: 'js/',

          shim: {
            'jquery': {
              exports: 'jQuery',
            },
            'lodash': {
              exports: '_',
            },
            'screenfull': {
              exports: 'screenfull',
            },
            'bootstrap': {
              deps: ['popper', 'jquery']
            },
            'popper': {
              deps: ['jquery'],
            },
          },

          map: {
            '*': {
              'popper.js': 'popper',
            }
          },
        });
      </script>
    {% endblock %}
  </body>
</html>
