{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1>Commands</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</td>
      <th>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>uptime</code></td>
      <td>Pretty printed current uptime from server</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
