{% extends "base.html.twig" %}

{% block body %}
<div class="container">

<h1>System Information</h1>

<table class="table">
  <thead>
    <tr>
      <th>Device</td>
      <th>IP Address</td>
    </tr>
  </thead>
  <tbody>
    {% for currNIC in nics %}
    <tr>
      <td><code class="text-white">{{ currNIC.device }}</code></td>
      <td>{% if currNIC.ipAddress != '' %}
        <code class="text-white">{{ currNIC.ipAddress }}</code>
        {% else %}
        <span class="text-danger"><i class="fab fa fa-close"> NOT CONNECTED</i></span>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-danger" href="{{ path('index') }}">
    <i class="fab fa fa-arrow-left"></i> Back
  </a>
</div>

</div>
{% endblock %}
