<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <a class="btn btn-md btn-primary d-block move-left-btn" href="#" draggable="false">
        <i class="fab fa fa-arrow-left"></i>
      </a>
    </div>

    <div class="col-2">
      <a class="btn btn-md btn-primary d-block move-forward-btn" href="#">
        <i class="fab fa fa-arrow-up"></i>
      </a>
      <a class="btn btn-md btn-secondary d-block d-none-md move-backward-btn" href="#">
        <i class="fab fa fa-arrow-down"></i>
      </a>
    </div>

    <div class="col-2 d-none d-block-md">
      <a class="btn btn-md btn-secondary d-block move-backward-btn" href="#">
        <i class="fab fa fa-arrow-down"></i>
      </a>
    </div>

    <div class="col-2">
      <a class="btn btn-md btn-primary d-block move-right-btn" href="#">
        <i class="fab fa fa-arrow-right"></i>
      </a>
    </div>

    <div class="d-none d-lg-block col-lg-2">
      <!-- spacing -->
    </div>

    <div class="col-3 col-lg-2">
      <a class="btn btn-md btn-secondary d-block turn-left-btn" href="#">
        <i class="fab fa fa-chevron-left"></i>
      </a>
    </div>

    <div class="col-3 col-lg-2">
      <a class="btn btn-md btn-secondary d-block turn-right-btn" href="#">
        <i class="fab fa fa-chevron-right"></i>
      </a>
    </div>

  </div><!-- .row -->
</div><!-- .container-fluid -->
