<div class="container-fluid">
  <div class="row">
    <div class="col-2 col-md-1">
      <a class="btn btn-md btn-danger d-block" id="reset-btn" href="#">
        <i class="fab fa fa-window-close"></i>
      </a>
    </div>

    <div class="col-2 col-md-2">
      <a class="btn btn-md btn-primary d-block" id="move-left-btn" href="#">
        <i class="fab fa fa-arrow-left"></i>
      </a>
    </div>

    <div class="col-2 col-md-2">
      <a class="btn btn-md btn-primary d-block" id="move-forward-btn" href="#">
        <i class="fab fa fa-arrow-up"></i>
      </a>
      <a class="btn btn-md btn-secondary d-block d-none-md" id="move-backward-btn" href="#">
        <i class="fab fa fa-arrow-down"></i>
      </a>
    </div>

    <div class="col-2 col-md-2 d-none d-block-md">
      <a class="btn btn-md btn-secondary d-block" id="move-backward-btn" href="#">
        <i class="fab fa fa-arrow-down"></i>
      </a>
    </div>

    <div class="col-2 col-md-2">
      <a class="btn btn-md btn-primary d-block" id="move-right-btn" href="#">
        <i class="fab fa fa-arrow-right"></i>
      </a>
    </div>

    <div class="col-1 col-md-1 col-lg-1">
      <!-- spacing -->
    </div>

    <div class="col-2 col-md-2 col-lg-2">
      <a class="btn btn-md btn-secondary d-block" id="turn-left-btn" href="#">
        <i class="fab fa fa-chevron-left"></i>
      </a>
      <a class="btn btn-md btn-secondary d-block d-md-none" id="turn-right-btn" href="#">
        <i class="fab fa fa-chevron-right"></i>
      </a>
    </div>

    <div class="col-md-2 col-lg-2 d-none d-md-block">
      <a class="btn btn-md btn-secondary d-none d-md-block" id="turn-right-btn" href="#">
        <i class="fab fa fa-chevron-right"></i>
      </a>
    </div>
  </div><!-- .row -->
</div><!-- .container-fluid -->
